<footer>
    <ul class="socnav">
      <li><a aria-label="Instagram" href="https://www.instagram.com/criterioncollection/" target="none"><i aria-hidden="true" class="fab fa-instagram"></i></a></li>
      <li><a aria-label="GitHub" href="https://github.com/jluu38/" target="none"><i aria-hidden="true" class="fab fa-github"></i></a></li>
      <li><a href="https://letterboxd.com/peachykeen/" target="none"><img src="images/letterboxd.svg" alt="Letterboxd"></a></li>
    </ul>
    <p><small><%= copyright %></small></p>
  </footer>