<header>
    <h1><a href="/">1<i class="far fa-eye"><i class="far fa-eye"></i></i> Cinema</a></h1>
    <p class="tag"><%= tagline %></p>
    <nav>
      <input type="checkbox" id="ham" class="cb">
      <div class="hlogo">
        <label for="ham"><i class="fas fa-film"></i></label>
      </div>
      <div class="hmenu">
        <ul class="container">
          <li><a href="/comingsoon">Coming Soon</a></li>
          <li><a href="#">Now Playing</a></li>
          <li>
            <a aria-label="Tickets" class="wrap" href="#">
            <div class="tix-text">Tickets</div>
            <i aria-hidden="true" class="fas fa-ticket-alt tix-icon"></i>
            </a>
          </li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>