body {
  margin: 0;
  background-color: #faebd7;
}

.bg {
  margin-right: 0;
  grid-column: 4 / 7;
  grid-row: 1 / 7;
  background-color: #b66148;

  z-index: -1;
}

/* Horizontal Nav Bar */
nav {
  justify-content: center;
  background-color: #669b98;
}

.cb {
  opacity: 0;
  position: absolute;
}

ul {
  margin-top: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(4, minmax(15ch, 1fr));
  grid-template-rows: 60px;
  align-items: center;
  justify-items: center;
}

ul li {
  list-style: none;

  font-family: 'Montserrat', 'Segoe UI', sans-serif;
  font-variant: small-caps;
  line-height: 1rem;
}

li a {
  align-content: center;
  font-size: clamp(1.5rem, 4vw, 1.8rem);
}

i.hlogo {
  display: none;
}

.container a {
  color: black;
  text-decoration: none;
}

.hmenu a:hover {
  font-family: 'Aktiv-Grotesk-Extended', sans-serif;
  font-variant: none;
  text-transform: uppercase;
}

.button {
  display: block;
  align-self: center;

  font-size: 2.2rem;
  color: #211e20;
}

.tix {
  display: none;
}

.wrap {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
}

.button:hover {
  background: none;
  mask-image: unset;
  -webkit-mask-image: unset;
}

.wrap:hover .tix {
  display: block;
}

.wrap:hover .button {
  display: none;
}

/* Header */
header {
  margin-top: -1rem;
  color: #211e20;
  font-family: 'Cutive', Verdana, Tahoma, sans-serif;
  font-weight: 800;
  font-style: italic;

  letter-spacing: 0.1rem;
  text-align: left;
}

.herogrid {
  display: grid;
  grid-template-rows: 10% 10% 5% 25% 20% 20%;
  grid-template-columns: 40% 10% 10% 15% 15% 10%;
}

.aud1 {
  grid-column: 4 / span 2;
  grid-row: 3 / 4;

  width: 14vw;
  justify-self: right;
  align-self: center;
}

.aud2 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;

  width: 25vw;
  justify-self: center;
  align-self: flex-start;
  z-index: 2;
}

.aud3 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 2;

  width: 22vw;
  justify-self: center;
}

.aud4 {
  grid-column: 4 / 6;
  grid-row: 2 / 5;
  width: 18vw;
  justify-self: left;
}


.name {
  grid-column: 1 / 2;
  grid-row: 4 / span 2;
  margin-bottom: 0;
  align-self: flex-start;

  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

.name a {
  margin: 0;
  margin-left: 5rem;

  color: #786975;
  font-family: 'Montserrat', 'Segoe UI', sans-serif;
  font-size: clamp(20px, 5vw, 6rem);
  text-transform: uppercase;
  text-shadow: 4px 5px 1px #bac5cf;
  text-decoration: none;
}



h1 a:hover {
  text-shadow: none;
  text-shadow: -4px 5px 1px #bac5cf;
}

header .fa-eye {
  color: #786975;
}

.tag {
  grid-column: 1;
  grid-row: 2 / span 2;

  font-family: 'Courier New', Courier, monospace;
  font-size: clamp(0.5rem, 0.1400rem + 1.8000vw, 1.5rem);
  justify-self: center;
  align-self: center;
}

.cta {
  grid-column: 5 / span 3;
  grid-row: 5 / span 1;
  align-self: flex-start;
  justify-self: center;
}

.ctab {
  background-image: -webkit-linear-gradient(30deg, #faebd7 50%, transparent 50%);
  background-image: linear-gradient(30deg, #faebd7 50%, transparent 50%);
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  background-position: 0%;
  background-size: 710px;

  border: 3px solid #faebd7;
  box-shadow: 4px 4px 2px #363335;
  padding: 1rem 2rem 1rem 2rem;

  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  color: #b66148;
}

.ctab:hover {
  background-position: 100%;
  color: #faebd7;
}

/* Main */
h2 {
  margin: 1rem;
  border: 4px solid #a2b490;
  font-size: clamp(1rem, 6vw, 4rem);
  font-family: 'Montserrat', 'Segoe UI', sans-serif;
  text-align: center;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Footer */
footer {
  margin-top: 3rem;
  text-align: center;
  font-style: italic;
}

.socnav {
  list-style: none;

  display: inline-flex;
  padding-top: 0;
  padding-bottom: 0;
}

.socnav img {
  width: 30px;
  height: 28px;

  border: none;
  box-shadow: none;
  background: transparent;
}

.socnav a {
  padding: 2px;
  margin: 2rem;
  color: black;
}

.socnav a>*:hover {
  box-shadow: 5px 5px 8px 3px #b99bdb;
  border-radius: 60%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 820px) {
  body {
    justify-content: center;
    max-width: 100vw;
    overflow-x: hidden;
  }

  h2 {
    border: 2px solid #a2b490;
  }

  /*  Hamburger Menu */
  nav {
    background-color: #669b98;
  }

  .hlogo {
    margin-right: 1rem;
    color: #faebd7;
    text-align: center;
    font-size: 4rem;

    -webkit-transition: -webkit-transform .5s ease-in-out;
    -ms-transition: -ms-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
  }

  .hlogo:hover {
    transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
  }

  .hmenu {
    display: none;
  }

  #ham:checked~.hmenu {
    display: block;
  }

  #ham:checked~.hlogo {
    align-self: center;
  }

  .container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 50vw;
    align-content: center;
    justify-content: center;
  }

  ul li {
    line-height: 3rem;
  }

  li a {
    align-content: center;
    font-size: clamp(1.5rem, 4vw, 1.8rem);
  }

  li a:hover {
    font-size: initial;
  }

  /* Hero */
  .herogrid {
    margin-left: 0rem;
  }

  .aud1 {
    grid-column: 5;
  }

  .aud2 {
    grid-row: 2;
  }

  .aud3 {
    grid-row: 2;
  }

  .aud4 {
    display: none;
  }

  .cta {
    grid-column: 1 / 7;
    grid-row: 6 / 7;
    justify-content: right;
  }

  .ctab {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-image: -webkit-linear-gradient(30deg, #b66148 50%, #39434b 50%);
    background-image: linear-gradient(30deg, #b66148 50%, #39434b 50%);
    background-position: 0%;
    background-size: 700px;
    border: 3px solid #39434b;
    box-shadow: 3px 3px 2px #211e20;

    color: #faebd7;
  }
}

/* Desktop*/
@media screen and (min-width: 820px) {
  .hlogo {
    display: none;
  }

  li {
    display: inline-block;
  }
}