<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
</head>
<body>
  <%- include("../partials/header") %>
  <h1>404: Not Found</h1>
  <main>
    <h2><a href="/">Go home?</a></h2>
    <a href="https://workchronicles.com/accidents/">
    <img src="images/accidents.png" alt="accidentally pushed to production instead of testing comic" width="650">
    </a>
  </main>
  <%- include("../partials/footer") %>
</body>
</html>