<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/hero.css">
  <%- include("../partials/head") %>
</head>
<body>
  <%- include("../partials/header") %>
<main>
  <section class="herogrid">
      <img class="aud1" src="images/audience1.svg" alt="moviegoer in a hijab">
      <img class="aud2" src="images/audience2.svg" alt="moviegoer">
      <img class="aud3" src="images/recliner.svg" alt="empty seat">
      <img class="aud4" src="images/audience3.svg" alt="moviegoer in a hoodie">
      <div class="bg"></div>
      <section class="cta">
        <a class="ctab" href="/tickets">We saved you a seat.</a>
      </section>
    </section>
</main>
<%- include("../partials/footer") %>
</body>
</html>